$main_color:#0e5fa7;
$basic_color:#149ddd;

$radiant_color:rgba(20, 157, 221, 0.75);;

$color_1:#2eafec;
$color_2:#37b3ed;
$color_3:#173b6c;
$color_4:red;

$color_4:#18d26e;

$bg_color:#fff;

$hover1_color:#7a6960;
$hover2_color:#fff;

$text_color:#272829;
$text2_color:#fff;


/* $main_color:#eb5d1e;
$basic_color:#ef7f4d;
$color_1:#ee7843;
$color_2:#f39e7a;
$color_3:red;
$color_4:#18d26e;

$bg_color:#fff;

$hover1_color:#7a6960;
$hover2_color:#fff; */